resources/powercli-xsd/powercli.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2022 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Object">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Property" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Objects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Object"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Property">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="Property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ApiVersion"/>
						<xs:enumeration value="Build"/>
						<xs:enumeration value="ConnectionState"/>
						<xs:enumeration value="CpuTotalMhz"/>
						<xs:enumeration value="CpuUsageMhz"/>
						<xs:enumeration value="CryptoState"/>
						<xs:enumeration value="CustomFields"/>
						<xs:enumeration value="DatastoreIdList"/>
						<xs:enumeration value="DiagnosticPartition"/>
						<xs:enumeration value="ExtensionData"/>
						<xs:enumeration value="FirewallDefaultPolicy"/>
						<xs:enumeration value="HyperthreadingActive"/>
						<xs:enumeration value="Id"/>
						<xs:enumeration value="IsStandalone"/>
						<xs:enumeration value="LicenseKey"/>
						<xs:enumeration value="Manufacturer"/>
						<xs:enumeration value="MaxEVCMode"/>
						<xs:enumeration value="MemoryTotalGB"/>
						<xs:enumeration value="MemoryTotalMB"/>
						<xs:enumeration value="MemoryUsageGB"/>
						<xs:enumeration value="MemoryUsageMB"/>
						<xs:enumeration value="Model"/>
						<xs:enumeration value="Name"/>
						<xs:enumeration value="NetworkInfo"/>
						<xs:enumeration value="NumCpu"/>
						<xs:enumeration value="Parent"/>
						<xs:enumeration value="ParentId"/>
						<xs:enumeration value="PowerState"/>
						<xs:enumeration value="ProcessorType"/>
						<xs:enumeration value="State"/>
						<xs:enumeration value="StorageInfo"/>
						<xs:enumeration value="TimeZone"/>
						<xs:enumeration value="Uid"/>
						<xs:enumeration value="VMSwapfileDatastore"/>
						<xs:enumeration value="VMSwapfileDatastoreId"/>
						<xs:enumeration value="VMSwapfilePolicy"/>
						<xs:enumeration value="Version"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
