resources/powercli-xsd/powercli-response-message.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2022 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Object">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Property" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PowerCLIResponseMessage"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Objects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Object"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Property">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="Property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<!--<xs:enumeration value="DefaultVmBehavior"/>
						<xs:enumeration value="EnableVmBehaviorOverrides"/>
						<xs:enumeration value="Enabled"/>
						<xs:enumeration value="Id"/>
						<xs:enumeration value="IsSuccess"/>
						<xs:enumeration value="Option"/>
						<xs:enumeration value="Payload"/>
						<xs:enumeration value="ScaleDescendantsShares"/>
						<xs:enumeration value="Timestamp"/>
						<xs:enumeration value="VmotionRate"/>-->
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<!--<xs:enumeration value="System.Boolean"/>
						<xs:enumeration value="System.Int32"/>
						<xs:enumeration value="System.String"/>
						<xs:enumeration value="VMware.Vim.ClusterDrsConfigInfo"/>
						<xs:enumeration value="VMware.Vim.DrsBehavior"/>
						<xs:enumeration value="VMware.Vim.OptionValue[]"/>-->
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
